* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "Starship";
    src: url('fonts/StarshipRegular.ttf') format('truetype');
}
body {
    background-color: #915F44;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    font-family: 'Starship', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7rem;
    text-align: center;
}